
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 65%;
    margin: 0 auto;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.row{
    display: flex;
}

.col {
    padding-left: 10px;
    padding-right: 10px;
}

section{
    height: 500px;
}

.bg-violet{
    background-color: rgba(151,146,228,255);
}

.rounded{
    border-radius: 20px;
}
/* Style Header */
.site-header{
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo{
    padding: 5px;
}

.bg-blue{
    height: 50px;
    background-color: rgba(0,132,253,255);
}

.style-list{
    list-style-type: none;
    text-align: center;
    display: flex;
    font-size: 13px;
}

.text{
    text-decoration: none;
    color: white;
    margin: 10px;
}

.display-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttom{
    background: white;
    color: black;
    text-decoration: none;
    padding: 5px 10px;
}

/* Style Main */
/*INTRO*/
.intro .col{
    background-color: aqua;
    margin: 10px;
    height: 200px;
    width: 100%;
    border-radius: 20px;
}

.intro .col-right{
    width: 70%;
}

.intro .col.left{
    width: 30%;
}

/*PLAN*/
.plan .col, .about-us .col{
    border: 1px solid black;
    height: 400px;
    width: 50%;
    margin: 20px;
}

/*PARTNERS*/
.partner .col{
    width: 100%;
}
 
.col-partner .card{
    border: 1px solid black;
    border-radius: 20px;
    height: 100px;
    margin: 10px;
}

/*BENEFIT*/
.benefit .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.benefit .col{
    border: 1px solid black;
    margin: 10px;
    background-color: white;
    height: 200px;
    width: calc(100% / 3 - 40px);
}
/*ABOUT US*/


/* Style Footer */

footer .bg-violet {
    background-color: rgba(151,146,228,255);
    height: 350px;
}

footer .bg-black {
    background-color: rgb(59, 57, 57);
    height: 150px;
}

/* MEDIA */
/* Desktop */
@media screen and (min-width: 992){
    .container{
        max-width: 940px;
    }
}


@media screen and (min-width: 768){
    .container {
       max-width: 750px;
    }
}




