
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 85%;
    margin: 0 auto;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.row{
    display: flex;
}

.col {
    padding-left: 10px;
    padding-right: 10px;
}

section{
   width: 100%;
}

.bg-violet{
    background-color: rgba(151,146,228,255);
}

.rounded{
    border-radius: 20px;
}

.buttom{
    background: white;
    color: black;
    text-decoration: none;
    padding: 5px 10px;
}

.text-center{
    text-align: center;
}
/* Style Header */
.bg-blue{
    height: 50px;
    background-color: rgba(0,132,253,255);
}

.logo{
    padding: 5px;
}

/* Lista */
.style-list{
    list-style-type: none;
    text-align: center;
    display: flex;
    font-size: 13px;
}

.text-white {
    text-decoration: none;
    color: white;
    margin: 10px;
}

.display-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* INTRO */
.intro .col .icon{
    font-size: 50px;
    color: rgba(0,132,253,255);
    margin-top: 20px;
}

.intro .col .title{
   font-size: 15px;
   margin: 20px 15px;
   color: rgba(0,132,253,255);
}

.intro .col .text{
    font-weight: 600;
    color: rgb(87, 86, 86);
    font-size: 10px;
    line-height: 2;
    margin: 15px;
}

.intro .col .image{
    display: block;
    max-width: 200px;
    margin-top: 20px;
}

.content p{
    margin-bottom: 20px;
}

.content a{
    padding: 10px 20px;
    font-size: 10px;
}

.fa-apple{
    margin-right: 10px;
    font-size: 15px;
}

/* PLAN */
.plan .row{
    display: flex;
}

.plan .col{
    width: 50%;
}

.plan .col-left img{
    width: 300px;
}

.plan .col-right img{
    width: 200px;
}

.plan .col-left h3{
    margin-top: 60px;
    color: white
}

.plan .col-right p{
    margin: 20px 0; 
    font-size: 12px;
    color: white;
}

.plan .col-left p{
    margin: 20px 0; 
    font-size: 12px;
    color: white;
}

.plan .col-right{
    text-align: center;
    background-color: white;
    margin:100px 0 10px 0;
    border-radius: 20%;
    width: 300px;
}

.plan .col-right p, .plan .col-right h3{
    color: black;
}

/*PARTNERS*/
.partner{
    font-size: 12px;
}

.partner .pre-title{
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
}

.partner .section-title p{
    font-size: 12px;
    text-align: center;
}

.partner .section-title{
    color: rgba(151,146,228,255);
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.partner .text{
   margin-bottom: 30px;
}

.partner .card{
   margin-bottom: 20px;
   color: white;
   background-color:  rgba(151,146,228,255);
   border-radius: 40px;
   display: flex;
}

.partner .card-image{
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 0 auto 10px;
}

.partner .card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.partner .card-content{
   width: 500px;
 }

.partner .card-content .icon{
    font-size: 40px;
    line-height: 0;
    vertical-align: bottom;
 }

 .partner .card-content p{
    font-size: 12px;
    padding-top: 50px;
}

/*BENEFIT*/
.benefit .col{
    color: rgba(151,146,228,255);
    padding: 15px;
}

.benefit h2{
    font-size: 25px;
    color: white;
    padding: 10px;
    text-align: center;
}

.benefit h4{
    font-size: 40px;
}

.benefit h3{
    font-size: 15px;
}

.benefit p{
  font-size: 10px;
  margin: 5px 0;
}

.benefit .buttom{
    background-color: rgba(151,146,228,255);
    font-size: 8px;
    color: white;
    padding: 5px 20px;
}

/*  ABOUT US */

.about .col{
    width: 50%;
}

.about .col-left {
    width: 70%;
    font-size: 12px;
    line-height: 2;
}

.about .col-right{
    width: 30%;
}

.about .col-left h3{
    font-size: 30px;
    margin-top: 50px;
    color: rgba(151,146,228,255);
}

.about .col-left p{
    font-size: 12px;
    margin-top: 20px;
}

.about .col-left .margin-top{
    margin: 20px 0;
}

.about .col-right img{
    border-radius: 50%;
    margin-top: 60px;
    width: 150px;
    height: 150px;
}

.about .col-right h3{
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgba(151,146,228,255);
}

.about .col-right .btn{
   background-color: rgba(151,146,228,255);
   color: white;
   text-decoration: none;
   font-size: 12px;
   padding: 5px 10px;
}

.about .margin-bottom{
    margin-bottom: 50px;
}
/* MEDIA */
/* Desktop */
@media all and (min-width: 992px){
    .container{
        max-width: 940px;
    }
    
    /* Style Main */
    /*INTRO*/
    .row{
        flex-wrap: wrap;
    }
    
    .intro .col{
        background-color: rgba(181,221,255,255);
        margin: 10px;
        width: calc(100%/3 - 20px);
    }

    .intro .col:first-child{
        width: calc(100%/3 * 2 - 20px)
    }

    .intro .col:first-child {
        width: 63%;
        display: flex;
    }


    /*PLAN*/


    /*PARTNERS*/

    .partner .card-image {
       margin: 20px;
    }

    /*BENEFIT*/    
    .benefit .col{
        margin: 10px;
        background-color: white;
        height: 200px;
        width: calc(100% / 3 - 40px);
    }
    
    .benefit .section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    /*ABOUT US*/
    
    
    /* Style Footer */
    
    footer .bg-violet {
        background-color: rgba(151,146,228,255);
        height: 350px;
    }
    
    footer .bg-black {
        background-color: rgb(59, 57, 57);
        height: 150px;
    }
    
}

/* Tablet */
@media screen and (min-width: 768px){
    .container {
        max-width: 750px;
    }
    
    
}




