
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 65%;
    margin: 0 auto;
}

.row{
    display: flex;
}

.col {
    padding-left: 10px;
    padding-right: 10px;
}

section{
    height: 500px;
}

.bg-violet{
    background-color: rgba(151,146,228,255);
}

/* style header */
.bg-blue{
    height: 40px;
    background-color: rgba(0,132,253,255);
}

ul{
    list-style-type: none;
}

/* style main */

/* INTRO */
.intro .col{
    background-color: aqua;
    margin: 10px;
    height: 200px;
    width: 100%;
    border-radius: 20px;
}

.intro .col-right{
    width: 70%;
}

.intro .col.left{
    width: 30%;
}

/*PLAN*/
.plan .col, .about-us .col{
    border: 1px solid black;
    height: 400px;
    width: 50%;
    margin: 20px;
}

/*PARTNERS*/
.partner .col{
    width: 100%;
}

.col-partner .card{
    border: 1px solid black;
    border-radius: 20px;
    height: 100px;
    margin: 10px;
}

/*BENEFIT*/
.benefit .col{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.col-benefit div{
    border: 1px solid black;
    margin: 10px;
    background-color: white;
    height: 200px;
    width: calc(100% / 3 - 40px);
}
/*ABOUT US*/
